body{
    padding: 0;
    margin: 0;
    background-color: #334aff;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.24);
    border-top: 10px solid rgb(255, 255, 255);
    animation: animate 1.6s infinite linear;
}
@keyframes animate {
    0%{
        transform: translate(-50% , -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50% , -50%) rotate(360deg);
    }
}