*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
.container{
    width: 70vw;
    height: 30vw;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: url(./images/1.gif);
    background-size: 100% 100%;
    animation: myAnimation 6s infinite linear;
}

@keyframes myAnimation {
    0%{
        background: url(./images/1.gif);
    background-size: 100% 100%;
    }
    33%{
        background: url(./images/2.gif);
    background-size: 100% 100%;
        
    }
    66%{
        background: url(./images/3.gif);
    background-size: 100% 100%;

    }
}